.App {
  background-color: #ebebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

.canvas {
  display: flex;
  background-color: rgb(49, 65, 49);
  gap: 30px;
  padding: 30px 20px;
  border-radius: 10px;
  flex-direction: column;
  width: 800px;
  margin-bottom: 20px;
}

.all-clients {
  display: flex;
  border: #ebebeb 3px solid;
  border-radius: 10px;
  background-color: rgb(26, 34, 26);
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-bin {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  height: 20px;
  width: 150px;
  border-radius: 10px;
  background-color: #ebebeb;
  padding: 0px 0px 0px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: none;
}

.clientele {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 34, 26);
  border: #ebebeb 3px solid;
  border-radius: 10px;
}

.client-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.submit-acc {
  display: flex;
  justify-content: center;
  padding: 3px 50px;
  font-size: 18px;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.2s;
}

.submit-acc:hover{
  background-color: rgb(26, 34, 26);
  color: #ebebeb;
}

ul {
  padding: 0 20px;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.filter {
  padding: 3px 3px;
  font-size: 16px;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  border-radius: 5px;
}

.single-client {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px 10px;
}

.money {
  width: 70px;
}

.money-bin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.money-label {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.money-btn {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  border: 1px #ebebeb solid;
  color: #ebebeb;
  &.add {
    background-color: green;
  }

  &.remove {
    background-color: red;
  }
}

.amount-toChange {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 30px;
  border-radius: 10px;
  &.insufficient {
    background-color: rgb(247, 161, 161);
  }
  &.created {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 189, 112);
  }
}

.client-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.remove-user {
  font-size: 16px;
  background-color: rgb(26, 34, 26);
  border: none;
  color: red;
  display: flex;
  margin-bottom: 30px;
}

.del-confirm {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5px;
  font-size: 30px;
  height: 140px;
  width: 240px;

  left: 50%;
  top: 50%;

  margin-left: -120px;
  margin-top: -70px;

  background-color: rgb(255, 136, 136);
  border-radius: 10px;
}

.del-confirmBtn {
  color: #ebebeb;
  border: 1px #ebebeb solid;
  padding: 6px;
  border-radius: 5px;
  font-size: 20px;
  &.accept {
    background-color: green;
  }
  &.deny {
    background-color: red;
  }
}

.summary {
  background-color: #ebebeb;
  color: #ebebeb;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
}

.summary:before,
.summary:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  top: -3px;
  bottom: -3px;
  border-radius: 50px;
  border: solid;
  width: 2.3em;
  z-index: -1;
  box-shadow: 0 0 0 300px rgb(49, 65, 49);
}

.summary:before {
  left: -1.55em;
}
.summary:after {
  right: -1.55em;
}

.summary-info {
  border: 4px solid #ebebeb;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  padding: 10px 30px;
  border-radius: 20px;
}

.bank-name {
  background-color: rgb(49, 65, 49);
  width: 700px;
  height: 120px;
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  border-radius: 5px;
}

.kaunas {
  padding: 0px 10px;
  background-color: #ebebeb;
  color: rgb(49, 65, 49);
  border-radius: 10px;
}
